BOT_TOKEN=
NODE_OPTIONS="--no-warnings --no-deprecation"
SERVER_PORT=3001
CLIENT_ID=
CLIENT_SECRET=
# Drizzle postgress and redis
DATABASE_URL="postgresql://bangboo:bangboo@localhost:5432/bangboo"
REDIS_URL="redis:6379"