@import "tailwindcss";

.bg-card {
    background-color: #E5D3C2;
}

.bg-card-section {
    background-color: #2A2F2A;
}

.text-card {
    color: #E5D3C2;
}

.text-card-section {
    color: #2A2F2A;
}

.border-card {
    border-color: #E5D3C2;
}

.card-section-info > div:nth-child(1) {
    @apply flex flex-wrap justify-center gap-2;
}

.card-section-info > div:nth-child(1) div {
    @apply flex flex-col items-center gap-y-1 min-w-18;
}

.card-section-info > div:nth-child(1) div img {
    @apply w-8;
}

.card-section-info > div:nth-child(1) div h5 {
    @apply text-sm font-semibold;
}

.card-section-info > div:nth-child(2) {
    @apply flex flex-wrap justify-center items-center gap-4;
}

.card-section-info > div:nth-child(2) div {
    @apply flex flex-col items-center gap-y-2;
}

.card-section-info > div:nth-child(2) div div {
    @apply min-w-18 h-8 px-2 rounded-xl flex justify-center;
}

.card-section-info > div:nth-child(2) div div p {
    @apply text-sm font-bold;
}

.card-section-info > div:nth-child(2) div h5 {
    @apply text-sm font-semibold;
}

.card-section-links {
    @apply flex mt-2 justify-between items-center;
}

.card-section-links div:nth-child(1) a {
    @apply px-4 py-2 font-medium rounded-full bg-[#2A2F2A] text-[#E5D3C2] hover:bg-[#cabaaa] hover:shadow-inner hover:shadow-black/50 hover:text-[#2A2F2A];
}

.card-section-links div:nth-child(2) {
    @apply flex gap-4;
}

.card-section-links div:nth-child(2) a img {
    @apply h-9;
}